node_modules
development/mysql
/yarn.lock
/package-lock.json
/specs/*.json
yarn-error.log
.env
.DS_Store
.env.json
firestore-debug.log
openapi.json
firebase-debug.log
.playground
.storage
.vscode
.idea
mock/*.json
.npmrc
